# Defines the applications runtime environment
# Type: Optional
# Default: production
APP_ENVIRONMENT=development

# Log level following PSR-3 standards
# Type: Optional
# Default: warning
LOG_LEVEL=warning

# Logfile path to use, when you do not want to write logs to STDOUT
# Type: Optional
LOG_PATH=path/to/app.log

# Hostname which is running MySQL
# Type: Mandatory
MYSQL_HOST=127.0.0.1

# Database to use on the MySQL service
# Type: Mandatory
MYSQL_DATABASE=wilde-liga-bremen

# MySQL Application-User Username
# Type: Mandatory
MYSQL_USER=dev

# MySQL Application-User Password
# Type: Mandatory
MYSQL_PASSWORD=dev

# MySQL Root Password (will not be used by the application)
# Type: Mandatory
MYSQL_ROOT_PASSWORD=dev