version: '2'
services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    volumes_from:
      - php
    depends_on:
      - php
      - swagger-ui

  php:
    image: mklocke/liga-manager-api
    volumes:
      - .:/var/www/api
      - /etc/jwt:/etc/jwt
    depends_on:
      - mariadb
      - maildev
    env_file:
      - .env

  mariadb:
    image: mariadb
    ports:
      - "3306:3306"
    env_file:
      - .env

  redis:
    image: redis:4-alpine
    ports:
      - "6379:6379"

  maildev:
    image: djfarrelly/maildev
    ports:
      - "1080:80"

  swagger-ui:
    image: swaggerapi/swagger-ui
    environment:
      - API_URL=http://localhost/api/swagger.json