version: '2'
services:
  nginx:
    image: nginx:alpine
    ports:
      - "8080:80"
    links:
      - php:php
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    volumes_from:
      - php

  php:
    image: mklocke/liga-manager-api
    volumes:
      - /etc/jwt:/etc/jwt
    links:
      - mariadb:mariadb
    env_file:
      - .env

  mariadb:
    image: mariadb
    ports:
      - "3306:3306"
    env_file:
      - .env

  swagger-ui:
    image: swaggerapi/swagger-ui
    ports:
      - "80:8080"
    environment:
      - API_URL=http://localhost:8080/api/swagger.json