<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.2/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="CLI">
            <directory>tests/CLI</directory>
        </testsuite>
        <testsuite name="GraphQL">
            <directory>tests/GraphQL</directory>
        </testsuite>
        <testsuite name="WebAuthn">
            <directory>tests/WebAuthn</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
