name: Continuous Integration
on: [push]
env:
  APP_VERSION: ${{ github.ref_type == 'tag' && github.ref_name || 'latest' }}
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  DOCKER_TOKEN: ${{ secrets.DOCKER_TOKEN }}
jobs:
  build-docs:
    runs-on: ubuntu-latest
    if: github.ref_type == 'branch'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Build docs
        run: make docs
      - name: Upload docs as pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs
  build-image:
    runs-on: ubuntu-latest
    env:
      APP_RUNTIME: ${{ matrix.runtime }}
      DB_DRIVER: ${{ matrix.dbms == 'mariadb' && 'pdo-mysql' || 'pdo-pgsql'}}
      DB_HOST: ${{ matrix.dbms }}
    strategy:
      matrix:
        php-version: ["8.3", "8.4"]
        runtime: ["fpm", "roadrunner"]
        dbms: ["mariadb", "postgres"]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Build image
        run: make build
      - name: Test image
        run: make test
      #- name: Create tarball
      #  run: make tarball
      #- name: Publish image
      #  run: make publish
      #  if: (github.ref_type == 'tag' || github.ref_name == 'master') && matrix.php-version == '8.4' && matrix.dbms == 'mariadb'
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.runtime }}-${{ matrix.dbms }}
          path: build/artifacts
        if: matrix.php-version == '8.4'
      #- name: Upload tarball
      #  uses: actions/upload-artifact@v4
      #  with:
      #    name: tarball
      #    path: build/liga-manager-api.tar.gz
  deploy-docs:
    runs-on: ubuntu-latest
    if: github.ref_name == 'master'
    needs: build-docs
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Deploy pages from artifact
        uses: actions/deploy-pages@v4
  upload-coverage:
    runs-on: ubuntu-latest
    if: github.ref_type == 'branch'
    needs:
      - build-image
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: build/artifacts
      - name: List code coverage reports
        run: ls -R build/artifacts
      - name: Upload report to codecov.io
        uses: codecov/codecov-action@v5
        with:
          files: build/artifacts/build-roadrunner-mariadb/coverage.xml
